* {margin:0;padding:0;vertical-align:middle;box-sizing:border-box;text-size-adjust:100%;}
html {overflow-y:scroll;overflow-x:hidden;}
html,body {width:100%;height:100%;}
body {font:normal 14px/1 'Roboto','Montserrat','arial';color:#333;background:#fff;}
a {color:#333;text-decoration:none;}
ul,li,ol {list-style:none;}
em,i,address {font-style:normal;}
h1,h2,h3,h4,h5,h6 {font-size:14px;font-weight:normal;}
header,main,footer,nav,aside,article,section {display:block;}
.blind {display:block;text-indent:-2000px;overflow:hidden;}