@media all and (max-width:1170px){
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption {
    h3 {
      font-size:1.538461538vw;
    }
    h2 {
      font-size:5.982905983vw;      
    }
  }
  #wrap #main #section6 .container .gap .wrap .content {
    ul {
      flex-flow:row wrap;
      li {
        width:50%;
        .col-gap {
          margin:5px;
        }
      }
    }
  }
  #wrap #main #section7 .container .gap .wrap .content {
    ul {
      flex-flow:row wrap;
      li {
        width:50%;
        .col-gap {
          margin:5px;
        }
      }
    }
  }
  #wrap #main #section8 .container .gap .wrap .content > ul {
    flex-flow:row wrap;
    li {
      width:100%;
      &:nth-child(1) {
        .img-box {
          height:500px;
        }
      }
      &:nth-child(2){
        ul {
          li {
            h2 {
              font-size:2.564102564vw;
            }
            text-align:center;
          }
        }
      }
    }
  }
  
}

// 네비게이션 모바일 동작
@media all and (max-width:1024px){
  // 모바일 메뉴 버튼
  #wrap #header .container .gap .wrap .mobile-btn-box {
    display:block;
  }
  #wrap #header .container .gap .wrap #nav {
    display:none;
    align-items:flex-start; // 위쪽 정렬  
    position:absolute;
    top:72px;
    left:0;
    width:100%;
    // height:100vh;    
    height:auto;    
    background:rgba(0,0,0, 1);
    overflow-y:auto;    
    > ul {
      width:100%;
      height:auto;
      display:block;
      > li {
        width:100%;    
        height:auto;
        border-bottom:1px solid #444;
        margin:0;
        > a.main-btn {
          height:38px;
          color:#fff;
          padding-left:20px;
          line-height:38px;
        }
        .sub.sub1356 {
          display:none;
          position:relative;
          width:100%;
          top:0;
          left:0;
          background:#232323;
          > ul {
            padding:0 20px;
            display:block;
            > li {
              width:100%;
              padding:0;
              border-right:0;
              dl {
                dd,
                dt {
                  border-bottom:1px solid #333;
                }
              }              
            }  
          }
        }
        .sub.sub24 {
          display:none;
          width:100%;
          background:#232323;
          position:relative;
          top:0;
          left:0;
          > ul {
            padding:0 20px;
            display:block;
            > li {              
              > a {
                > span {
                  color:#fff;
                  &:after {
                    content:none;
                  }
                }
              }
              .sub-sub {
                display:none;
                position:relative;
                width:100%;
                top:0;                    
                left:0;
                background:#232323;
                border-top:1px solid #333;
                ul {
                  padding:0;
                  li {
                    border-bottom:1px solid #333;
                    a {
                      span {
                        color:#9d9d9d;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #wrap #header.show {
    .container {
      .gap {
        .wrap {
          #nav {
            top:60px;
            > ul {
              > li {
                .sub.sub1356,
                .sub.sub24 {top:0;}
              }
            }
          }
        }
      }
    }
  }
  #wrap #main #section2,
  #wrap #main #section3 {
    padding:60px 0;
  }
  #wrap #main #section2 .container .gap .wrap .content, 
  #wrap #main #section3 .container .gap .wrap .content, 
  #wrap #main #section9 .container .gap .wrap .content {
    padding:50px 0 0 0;
  }
  #wrap #main #section3 .container .gap .wrap .content {
    > ul {
      flex-flow:row wrap;    
      > li {
        width:50%;
        .col-gap {
          margin:15px;
        }
      }
    }
  }
  #wrap #quickBox {
    display:none;
  }
  #wrap #footer .container .gap .wrap .content {
    text-align:center;
    .top {
      ul {
        flex-flow:row wrap;
        li {
          width:100%;
          padding:5px 0;
        }
      }
    }
    .bottom {
      ul {
        flex-flow:row wrap;
        li {          
          width:100%;
          padding:5px 0;
          &:nth-child(1) {text-align:center;}
          &:nth-child(2) {text-align:center;}
        }
      }
    }
  }
  #wrap #main #section10 .container .gap .wrap .content form {
    width:80%;
  }
  #wrap #main #section9 .container .gap .wrap .content {
    ul {
      flex-flow:row wrap;
      li {
        width:50%;
        .col-gap {
          margin:15px;
        }
      }
    }
  }
}
@media all and (max-width:920px){
  #wrap #main #section2 .container .gap .wrap .content {
    > ul {
      flex-flow:row wrap;
      li {
        width:50%;
        .col-gap {
          margin:15px;
        }
      }
    }    
  }
  #wrap #main #section2 .container .gap .wrap .title h2 {
      width:70%;
      margin:0 auto;
      font-size:22px;
      br {
        display:none;
      }    
  } 
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size:25px;
  }
  #wrap #main #section4 .container .gap .wrap #nav ul li {
    display:block;
    margin:15px 0;
  }
  #wrap #main #section9 .container .gap .wrap .title {
    width:80%;
    margin:0 auto;
    br {
      display:none;
    }
  }
}
@media all and (max-width:800px){
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box {
    flex-flow:row wrap;
    li {
      width:50%;
      .col-gap {
        margin:15px;
      }
    }
  }
  #wrap #main #section6 .container .gap .wrap .content {
    ul {
      li {
        width:100%;
      }
    }
  }
  #wrap #main #section7 .container .gap .wrap .content {
    ul {
      li {
        width:100%;
        .col-gap {
          margin:5px;
        }
      }
    }
  }
  #wrap #main #section8 .container .gap .wrap .content > ul {
    flex-flow:row wrap;
    li {
      width:100%;
      &:nth-child(1) {
        .img-box {
          height:400px;
        }
      }
      &:nth-child(2){
        ul {
          padding:14.52643% * .8;
          li {
            text-align:center;
            h2 {
              font-size:2.564102564vw * 1.5;
            }
            p {
              line-height:160%;
            }
          }
        }
      }
    }
  }
  #wrap #main #section9 .container .gap .wrap .content {
    ul {
      flex-flow:row wrap;
      li {
        text-align:center;
        width:100%;
        .col-gap {
          margin:15px;
        }
      }
    }
  }
}
@media all and (max-width:660px){
  #wrap #main #section2 .container .gap .wrap .content {
    > ul {      
      > li {
        width:100%;
      }
    }    
  }
}
@media all and (max-width:600px){
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size:20px;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap .caption > ul > li {
    padding:5px 0;
  }
}
@media all and (max-width:500px){
  #wrap #main #section2 .container .gap .wrap .title h2 {
      width:80%;
      margin:0 auto;
      font-size:18px;
      line-height:130%;
      text-align:justify;
      br {
        display:none;
      }
  }
  #wrap #main #section3 .container .gap .wrap .content {
    > ul {
      flex-flow:row wrap;    
      > li {
        width:100%;
        .col-gap {
          margin:15px;
        }
      }
    }
  }
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size:18px;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li {
      width:100%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul {
    flex-flow:row wrap;
    li {
      width:100%;
      &:nth-child(1) {
        .img-box {
          height:300px;
        }
      }
      &:nth-child(2){
        ul {
          padding:14.52643% * .7;
          li {
            text-align:center;
            h2 {
              font-size:2.564102564vw * 1.5;
            }
            p {
              line-height:140%;
            }
          }
        }
      }
    }
  }
}