@media all and (max-width: 1170px) {
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h3 {
    font-size: 1.538461538vw;
  }
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h2 {
    font-size: 5.982905983vw;
  }
  #wrap #main #section6 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section6 .container .gap .wrap .content ul li {
    width: 50%;
  }
  #wrap #main #section6 .container .gap .wrap .content ul li .col-gap {
    margin: 5px;
  }
  #wrap #main #section7 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section7 .container .gap .wrap .content ul li {
    width: 50%;
  }
  #wrap #main #section7 .container .gap .wrap .content ul li .col-gap {
    margin: 5px;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li {
    width: 100%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(1) .img-box {
    height: 500px;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(2) ul li {
    text-align: center;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(2) ul li h2 {
    font-size: 2.564102564vw;
  }
}

@media all and (max-width: 1024px) {
  #wrap #header .container .gap .wrap .mobile-btn-box {
    display: block;
  }
  #wrap #header .container .gap .wrap #nav {
    display: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    height: auto;
    background: black;
    overflow-y: auto;
  }
  #wrap #header .container .gap .wrap #nav > ul {
    width: 100%;
    height: auto;
    display: block;
  }
  #wrap #header .container .gap .wrap #nav > ul > li {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #444;
    margin: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li > a.main-btn {
    height: 38px;
    color: #fff;
    padding-left: 20px;
    line-height: 38px;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 {
    display: none;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background: #232323;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 > ul {
    padding: 0 20px;
    display: block;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 > ul > li {
    width: 100%;
    padding: 0;
    border-right: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 > ul > li dl dd,
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 > ul > li dl dt {
    border-bottom: 1px solid #333;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 {
    display: none;
    width: 100%;
    background: #232323;
    position: relative;
    top: 0;
    left: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 > ul {
    padding: 0 20px;
    display: block;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 > ul > li > a > span {
    color: #fff;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 > ul > li > a > span:after {
    content: none;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 > ul > li .sub-sub {
    display: none;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background: #232323;
    border-top: 1px solid #333;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 > ul > li .sub-sub ul {
    padding: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 > ul > li .sub-sub ul li {
    border-bottom: 1px solid #333;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 > ul > li .sub-sub ul li a span {
    color: #9d9d9d;
  }
  #wrap #header.show .container .gap .wrap #nav {
    top: 60px;
  }
  #wrap #header.show .container .gap .wrap #nav > ul > li .sub.sub1356,
  #wrap #header.show .container .gap .wrap #nav > ul > li .sub.sub24 {
    top: 0;
  }
  #wrap #main #section2,
  #wrap #main #section3 {
    padding: 60px 0;
  }
  #wrap #main #section2 .container .gap .wrap .content,
  #wrap #main #section3 .container .gap .wrap .content,
  #wrap #main #section9 .container .gap .wrap .content {
    padding: 50px 0 0 0;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #quickBox {
    display: none;
  }
  #wrap #footer .container .gap .wrap .content {
    text-align: center;
  }
  #wrap #footer .container .gap .wrap .content .top ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #footer .container .gap .wrap .content .top ul li {
    width: 100%;
    padding: 5px 0;
  }
  #wrap #footer .container .gap .wrap .content .bottom ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #footer .container .gap .wrap .content .bottom ul li {
    width: 100%;
    padding: 5px 0;
  }
  #wrap #footer .container .gap .wrap .content .bottom ul li:nth-child(1) {
    text-align: center;
  }
  #wrap #footer .container .gap .wrap .content .bottom ul li:nth-child(2) {
    text-align: center;
  }
  #wrap #main #section10 .container .gap .wrap .content form {
    width: 80%;
  }
  #wrap #main #section9 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section9 .container .gap .wrap .content ul li {
    width: 50%;
  }
  #wrap #main #section9 .container .gap .wrap .content ul li .col-gap {
    margin: 15px;
  }
}

@media all and (max-width: 920px) {
  #wrap #main #section2 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section2 .container .gap .wrap .content > ul li {
    width: 50%;
  }
  #wrap #main #section2 .container .gap .wrap .content > ul li .col-gap {
    margin: 15px;
  }
  #wrap #main #section2 .container .gap .wrap .title h2 {
    width: 70%;
    margin: 0 auto;
    font-size: 22px;
  }
  #wrap #main #section2 .container .gap .wrap .title h2 br {
    display: none;
  }
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 25px;
  }
  #wrap #main #section4 .container .gap .wrap #nav ul li {
    display: block;
    margin: 15px 0;
  }
  #wrap #main #section9 .container .gap .wrap .title {
    width: 80%;
    margin: 0 auto;
  }
  #wrap #main #section9 .container .gap .wrap .title br {
    display: none;
  }
}

@media all and (max-width: 800px) {
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li {
    width: 50%;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li .col-gap {
    margin: 15px;
  }
  #wrap #main #section6 .container .gap .wrap .content ul li {
    width: 100%;
  }
  #wrap #main #section7 .container .gap .wrap .content ul li {
    width: 100%;
  }
  #wrap #main #section7 .container .gap .wrap .content ul li .col-gap {
    margin: 5px;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li {
    width: 100%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(1) .img-box {
    height: 400px;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(2) ul {
    padding: 11.62114%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(2) ul li {
    text-align: center;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(2) ul li h2 {
    font-size: 3.84615vw;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(2) ul li p {
    line-height: 160%;
  }
  #wrap #main #section9 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section9 .container .gap .wrap .content ul li {
    text-align: center;
    width: 100%;
  }
  #wrap #main #section9 .container .gap .wrap .content ul li .col-gap {
    margin: 15px;
  }
}

@media all and (max-width: 660px) {
  #wrap #main #section2 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 20px;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap .caption > ul > li {
    padding: 5px 0;
  }
}

@media all and (max-width: 500px) {
  #wrap #main #section2 .container .gap .wrap .title h2 {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 130%;
    text-align: justify;
  }
  #wrap #main #section2 .container .gap .wrap .title h2 br {
    display: none;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 18px;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li {
    width: 100%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li {
    width: 100%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(1) .img-box {
    height: 300px;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(2) ul {
    padding: 10.1685%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(2) ul li {
    text-align: center;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(2) ul li h2 {
    font-size: 3.84615vw;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul li:nth-child(2) ul li p {
    line-height: 140%;
  }
}
